* {
  font-family: "Roboto", sans-serif; }

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 3; }

.hamburger {
  display: none; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none; }
  .menu__link {
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
    color: #FFFFFF; }
    .menu__link:hover {
      cursor: pointer;
      color: #1EACC7; }
  .menu__item {
    border-right: 2px dotted black;
    padding-right: 44px; }
    .menu__item:last-child {
      border-right: none; }

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader__logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  .subheader__official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400; }
  .subheader__call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right; }
  .subheader__number {
    text-decoration: none;
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px; }
  .subheader__button {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }

.promo {
  min-height: 800px;
  background: url("../img/bg/uber__bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0; }
  .promo__header {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center; }
  .promo__subheader {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center; }
  .promo__descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px; }
  .promo__button {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }

.advantages {
  padding: 71px 0 65px 0; }
  .advantages__header {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 35px;
    height: 170px; }
  .advantages__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%; }
  .advantages__text {
    width: 343px;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px; }
    .advantages__text span {
      line-height: 21px;
      color: #1eacc7;
      font-size: 17px;
      font-weight: 400; }

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url(../img/bg/mobile_bg.png) center center/cover no-repeat; }
  .mobile__plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    cursor: pointer; }
    .mobile__plus::before {
      content: "";
      display: block;
      width: 14px;
      height: 2px;
      background-color: #1EACC7; }
    .mobile__plus::after {
      content: "";
      display: block;
      height: 14px;
      width: 2px;
      background-color: #1EACC7;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .mobile__plus:hover::before, .mobile__plus:hover::after {
      background-color: #FF5656;
      -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s; }
  .mobile .row {
    margin-top: 30px; }
  .mobile__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF; }
  .mobile__item {
    padding-top: 82px;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative; }
    .mobile__item__1 {
      background: url(../img/cards/card_1.png); }
    .mobile__item__2 {
      background: url(../img/cards/card_2.png); }
    .mobile__item__3 {
      background: url(../img/cards/card_3.png); }
    .mobile__item__4 {
      background: url(../img/cards/card_4.png); }
    .mobile__item__5 {
      background: url(../img/cards/card_5.png); }
    .mobile__item__6 {
      background: url(../img/cards/card_6.png); }

.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2; }
  .label__white {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase; }

.title {
  position: relative;
  font-weight: 700;
  font-size: 38px;
  line-height: 126%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-top: 33px;
  z-index: 2; }
  .title__white {
    color: #FFFFFF; }

.subtitle {
  position: relative;
  font-weight: 400;
  font-size: 17px;
  line-height: 124%;
  text-align: center;
  color: #222;
  margin-top: 10px;
  z-index: 2; }
  .subtitle__white {
    color: #FFFFFF; }

.car {
  min-height: 900px;
  padding: 58px 0 138px 0;
  background: url(../img/bg/mobile_bg.png) center center/cover no-repeat;
  position: relative; }
  .car__black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 502px;
    z-index: 1;
    background: #000000; }
  .car__img {
    position: relative;
    z-index: 2;
    display: block;
    margin: 54px auto 0 auto; }
  .car__descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 141%;
    text-align: center;
    color: #222; }

.require {
  padding: 84px 0 88px 0; }
  .require__block {
    margin-top: 33px;
    position: relative; }
    .require__block .red li::before {
      background: url(../icons/check_mark_red.png) center center/cover no-repeat; }
    .require__block ul {
      padding: 0; }
    .require__block li {
      list-style-type: none;
      font-weight: 300;
      font-size: 17px;
      line-height: 141%;
      color: #222;
      padding-left: 50px;
      padding-bottom: 14px;
      position: relative; }
      .require__block li::before {
        position: absolute;
        left: 20px;
        content: "";
        display: block;
        width: 21px;
        height: 20px;
        background: url(../icons/check_mark.png) center center/cover no-repeat; }
    .require__block__pink {
      margin-top: 128px; }
    .require__block__extra {
      font-weight: 300;
      font-size: 17px;
      line-height: 141%;
      color: #1EACC7;
      position: absolute;
      width: 480px;
      bottom: -80px; }
  .require__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 109%;
    color: #1EACC7;
    margin-bottom: 20px; }
    .require__title__pink {
      color: #FF5656; }

.world {
  background: url(../img/bg/world__bg.png) center center/cover no-repeat;
  min-height: 716px;
  padding: 50px 0; }
  .world__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 126%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 21px auto 0 auto; }
  .world__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 124%;
    text-align: center;
    color: #fff;
    margin: 18px auto 0 auto; }
  .world__watch {
    font-weight: 400;
    font-size: 15px;
    line-height: 453%;
    text-transform: uppercase;
    text-align: center;
    color: #1EACC7;
    margin: 460px auto 0 auto; }
    .world__watch:hover {
      cursor: pointer; }

.footer {
  height: 175px;
  position: relative; }
  .footer__download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    right: 22px;
    top: 50px;
    min-width: 300px; }
    .footer__download__item {
      width: 94px;
      height: 28px;
      background-color: #000000;
      border-radius: 15%; }
      .footer__download__item:hover {
        cursor: pointer; }
  .footer__apps {
    position: absolute;
    left: 56px;
    top: 50px;
    width: 154px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .footer__apps__app {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 32px;
      width: 32px;
      background: #000000;
      border-radius: 50%; }
      .footer__apps__app i {
        color: #fff; }
      .footer__apps__app:hover {
        cursor: pointer; }
  .footer__line {
    height: 7px;
    width: 300px;
    background-color: #1EACC7;
    margin: 11px auto 0 auto; }
  .footer__refs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px auto 0 auto;
    max-width: 380px; }
    .footer__refs__item {
      font-weight: 300;
      font-size: 15px;
      text-transform: uppercase;
      color: #000000; }
      .footer__refs__item:hover {
        cursor: pointer; }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 13px auto 0 auto;
    max-width: 420px; }
    .footer__info__item {
      font-weight: 300;
      font-size: 11px;
      text-transform: uppercase;
      color: #999999; }
      .footer__info__item:hover {
        cursor: pointer; }
  .footer__lang {
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #1fbad6;
    margin: 22px auto 0 auto; }
    .footer__lang:hover {
      cursor: pointer; }

.xs-visible {
  display: none; }

@media (max-width: 1200px) {
  .menu__item {
    padding-right: 20px; }
  .menu__link {
    font-size: 13px; }

  .promo__header {
    font-size: 50px; }

  .advantages__text {
    width: 330px; }

  .footer__download {
    max-width: 300px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer__download__item {
      width: 80px;
      margin-right: 5px;
      border-radius: 10%; } }
@media (max-width: 991px) {
  .menu__item {
    padding-right: 6px; }
  .menu__link {
    font-size: 11px; }

  .subheader__logo img {
    width: 100%; }
  .subheader__official {
    font-size: 12px; }
  .subheader__number {
    font-size: 20px; }
  .subheader__button {
    max-width: 100%; }

  .promo__header {
    font-size: 40px; }
  .promo__subheader {
    font-size: 35px; }

  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 300px; }
  .advantages__text {
    margin-top: 20px; }

  .car__img {
    width: 100%; }

  .footer__apps {
    left: 15px;
    top: 130px; }
  .footer__download {
    top: 130px;
    max-width: 240px; }
    .footer__download__item {
      width: 75px; } }
@media (max-width: 767px) {
  .promo__header {
    line-height: 40px; }
  .promo__subheader {
    line-height: 35px; }
  .promo__descr {
    line-height: 24px; }

  .xs-hidden {
    display: none; }

  .xs-visible {
    display: block; }

  .require__block {
    margin-top: 100px; }
    .require__block__extra {
      max-width: 400px; }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
    .menu__active {
      left: 0; }
    .menu__item {
      padding-right: 0;
      border: none;
      margin: 10px 0; }
    .menu__link {
      font-size: 20px; }

  .footer__info {
    max-width: 400px; }

  .subheader__logo {
    margin-top: 12px; }
  .subheader__number {
    font-size: 15px;
    margin-top: 10px;
    text-align: center; }
  .subheader__call {
    margin-top: 15px; }
  .subheader__button {
    font-size: 10px;
    margin-left: 40px;
    margin-top: 10px;
    max-width: 160px;
    height: 40px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      margin-bottom: 2px;
      background-color: #fff;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .hamburger__active span {
      margin-bottom: -2px; }
      .hamburger__active span:first-child {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      .hamburger__active span:nth-child(2) {
        display: none; }
      .hamburger__active span:last-child {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); } }
@media (max-width: 575px) {
  .subheader {
    height: 60px; }
    .subheader__logo {
      margin-top: 18px; }
      .subheader__logo img {
        width: 100%; }
    .subheader__button {
      margin-left: 20px;
      border-radius: 4px;
      width: 110px;
      height: 22px;
      margin-top: 6px;
      margin-left: 15px; }
      .subheader__button__div {
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
    .subheader__official {
      display: none; }
    .subheader__number {
      font-size: 11px; }

  .require__block__extra {
    max-width: 300px; }

  .footer__apps {
    left: 108px;
    top: 137px; }
  .footer__download {
    right: 30px;
    top: 180px;
    padding-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer__download__item {
      width: 90px;
      margin-right: 15px; }

  .advantages__text {
    width: 290px; }

  .mobile__item {
    width: 300px; } }

/*# sourceMappingURL=style.css.map */